@import "tailwindcss";

.calendar-wrapper {
  max-width: 400px; /* constrain total width */
  font-size: 12px; /* scales most text down */
  max-height: 375px;
  
}

.calendar-wrapper .fc-theme-standard td,
.calendar-wrapper .fc-theme-standard th {
  border: none;
}
.calendar-wrapper .fc-scrollgrid {
  border: none;
}

.calendar-wrapper .fc-daygrid-day-frame {
  padding: 5px;
  max-height: 40px !important;
}

.calendar-wrapper .fc-daygrid-day-number {
  font-size: 12px;
  font-weight: 500;
  color: #374151;
}

.calendar-wrapper .fc-toolbar-title {
  font-size: 18px;
  font-weight: 600;
}

.calendar-wrapper .fc-toolbar {
  margin-bottom: 16px;
}

.calendar-wrapper .fc-button {
  background: #f3f4f6;
  border: none;
  color: #374151;
  border-radius: 6px;
  padding: 4px 8px;
}

.calendar-wrapper .fc-button:hover {
  background: #e5e7eb;
}

.calendar-wrapper .fc-bg-event {
  background-color: #d36236 !important;
  border-radius: 17px;
}

.calendar-wrapper .fc-daygrid-day {
  border-radius: 15px;
}

.calendar-wrapper .fc-daygrid-day-top {
  justify-content: flex-end;
}
